[user]
	email = andisspam@gmail.com
	name = Andreas Mayer
[core]
	excludesfile = ~/.gitignore
	attributesfile = /home/andreas/.gitattributes
[push]
	default = simple
[difftool]
    prompt = false
[diff]
	external = ~/repos/mise/scripts/gitdiff.sh
[push]
	default = matching
[filter "dropoutput_ipynb"]
	clean = ~/repos/clones/ipynb_output_filter/ipynb_output_filter.py
	smudge = cat
