## Python
*.pyc

# C extensions
*.so

# LaTeX temporary files
*.out
*.aux
*.log
*.bbl
*.bcf
*.run.xml
*.blg
*.toc
*.end

# distribution / packaging
build/
dist/

# IPython
.ipynb_checkpoints/
.snakemake

*.swp

